h2 {
    text-align: center;
}

.some-page-wrapper {
    margin: 15px;
    background-color: red;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.orange-column {
    background-color: gray;
    height: 100px;
}

.blue-column {
    background-color: gray;
    height: 100px;
}

.green-column {
    background-color: gray;
    height: 100px;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1
    }
    .double-column {
        flex: 2
    }
}